.navbar{
    background-color: #FBF5DD;
}

.carousel-item {
    height: 500px;
}
  
.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
 
.section-bg{
    background-color: #A6CDC6;
}

body{
    background-color: #A6CDC6;
}

.card-color{
    background-color: #DDA853;
}

.footer-color{
    background-color: #293241;
}

.colorfooter__text{
    color: white;
}


