.navbar{
    background-color: #FBF5DD;
}


.section-bg{
    background-color: #A6CDC6;
}

.button-color{
    background-color: rgb(16, 80, 32);
    color: white;
}

body{
    background-color: #A6CDC6;
}

.card-color{
    background-color: #DDA853;
}

.footer-color{
    background-color: #293241;
}

.colorfooter__text{
    color: white;
}


